@charset "utf-8";

@import '../../node_modules/bulma/bulma.sass';

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 16px;
}

.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 16px;
}

.p-l-1 {
  padding-left: 4px;
}
.p-l-2 {
  padding-left: 8px;
}

.p-l-3 {
  padding-left: 16px;
}

.m-l-1 {
  margin-left: 4px;
}
.m-l-2 {
  margin-left: 8px;
}

.m-l-3 {
  margin-left: 16px;
}

.p-r-1 {
  padding-right: 4px;
}
.p-r-2 {
  padding-right: 8px;
}

.p-r-3 {
  padding-right: 16px;
}

.m-r-1 {
  margin-right: 4px;
}
.m-r-2 {
  margin-right: 8px;
}

.m-r-3 {
  margin-right: 16px;
}

.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.node-container {
  display: flex;
}

.node-type-indicator {
  display: none;
}

.preview {
  .node-type-indicator {
    display: block;
  }

  .node-container {
    padding: 4px;
    margin: 2px;
    border: 2px dashed;
    border-color: transparent;
    transition: border-color 0.25s;
  }

  .node-view {
    border: 2px dashed;
    border-color: #e5e5e5;
  }

  .node-model {
    border: 2px dashed;
    border-color: #e5e5e5;
    flex-direction: column;
  }

  .node-field {
    border: 2px dashed;
    border-color: transparent;
    border-bottom-color: #e5e5e5;
  }

  .node-menu {
    flex-direction: column;
  }

  .is-node-dragged {
    border-color: #505050;
    opacity: 50;
  }

  .is-node-focused {
    border-color: #a0a0a0;
  }

  .is-node-targeted {
    border-color: #ff0000;
  }
}

* {
  box-sizing: border-box;
}
