@charset "utf-8";

@import '../../node_modules/bulma/sass/utilities/_all';

$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

/* Setup $colors to use as bulma classes (e.g. 'is-twitter') */
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
);

/* Links */
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import '../../node_modules/bulma/bulma.sass';

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 16px;
}

.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 16px;
}

.p-l-1 {
  padding-left: 4px;
}
.p-l-2 {
  padding-left: 8px;
}

.p-l-3 {
  padding-left: 16px;
}

.m-l-1 {
  margin-left: 4px;
}
.m-l-2 {
  margin-left: 8px;
}

.m-l-3 {
  margin-left: 16px;
}

.p-r-1 {
  padding-right: 4px;
}
.p-r-2 {
  padding-right: 8px;
}

.p-r-3 {
  padding-right: 16px;
}

.m-r-1 {
  margin-right: 4px;
}
.m-r-2 {
  margin-right: 8px;
}

.m-r-3 {
  margin-right: 16px;
}


.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ash_container {
  display: flex;
  padding: 4px;
  margin: 2px;
  border: 1px solid transparent;
  flex: 1;
  transition: border-color 0.25s ease-out
}

* {
  box-sizing: border-box;
}

select,
button {
  padding: 4px;
  margin: 4px;
}
